
header {
    background-image: url("./360_F_323880864_TPsH5ropjEBo1ViILJmcFHJqsBzorxUB.jpg");
    background-size: contain;
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}



h1 {
    text-align: center;
    text-transform: uppercase;
    color:whitesmoke;
    
    
    font-weight: 800;
    padding: 5px;

}

h2 {
    color:whitesmoke;
    text-decoration: none;
    font-weight: 300;
    text-align: center;
    font-size: 30px;
    padding: 5px;
}
ul {
    text-decoration: none;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid black;
    padding: 10px;
    background-image: url("./1000_F_360093315_5HjqQU8T3eK2kUWXxr36tTW6pSG1JweE.jpg");
}

#computer-logs {
    color: black;
    padding-right: 10px;
    margin: 20px;
}

.start {
    display: flex;
    justify-content: space-between;
    margin: 5px;
    align-items: center;
}

#start-btn {
    color: whitesmoke;
    background-color: lightcoral;
    background-size: contain;
    cursor: pointer;
    font-weight: 600;
    padding: 10px;
    font-size: larger;
    margin-right: 30px;
    
}
#start-btn:hover {
    color: darkred;

}
#user-logs {
    color: black;
    padding-left: 10px;
    margin: 20px;
}

#sum-el {
    color: black;
    padding: 2px;
}

div.container {
    display: flex;
    justify-content: center;
    width: 100%;
    
    background-size: contain;
}
.btn {
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    width: 60px;
    border: 3px solid black;
    border-radius: 50px;
    font-weight: 800;
    
    color: black;
}
.btn:hover {
    color: darkblue;
    font-weight: bolder;
    text-decoration: solid;
}

footer {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    color: black;
    background-color: beige;
    border: 1px solid beige;
    margin-top: 90px;
}